*.tfstate
*.tfstate.*
.DS_Store
.alias
.envrc
.envrc-public
.envrc-secret
.function
.gitconfig
.gitignore-global
.idea
.ignore
.terraform
.terraform.lock.hcl
.terragrunt-cache
.tfenv
.tgenv
.venv
.zshrc
Brewfile
bin
keyboard.json
node_modules
terragrunt-debug.tfvars.json
tmp
google-cloud-sdk*
