#bazel
bazel-*
.ijwb/
.idea
.terraform
*.tfstate
*.tfstate.*
.terraform.lock.hcl
.terragrunt-cache
.DS_Store
node_modules
.venv
.ignore
.envrc
./.alias
./.envrc
./.envrc-public
./.function
./.gitconfig
./.gitignore-global
./.zshrc
./Brewfile
./keyboard.json
