*.tfstate
*.tfstate.*
.DS_Store
.alias
.envrc
.envrc-public
.envrc-secret
.function
.gitconfig
.gitignore-global
.idea
.ignore
.nvmrc
.python-version
.terraform
.terraform-version
.terraform.lock.hcl
.terragrunt-cache
.terragrunt-version
.tfenv
.tgenv
.venv
.zshrc
Brewfile
bin
keyboard.json
node_modules
