#bazel
bazel-*
.ijwb/
.idea
.terraform
*.tfstate
*.tfstate.*
.terraform.lock.hcl
.terragrunt-cache
.DS_Store
node_modules
.venv
.ignore
.envrc
Brewfile
keyboard.json
.alias
.envrc-public
.function
.gitconfig
.gitignore-global
.zshrc
.envrc-secret
.envrc
.nvmrc
.python-version
.terraform-version
.terragrunt-version
