#!/bin/bash
source "${GITHUB_USER_WORKSPACE}/.envrc-base"
source "${GITHUB_USER_WORKSPACE}/.envrc-github"
source "${GITHUB_USER_WORKSPACE}/.envrc-terragrunt"
source "${GITHUB_USER_WORKSPACE}/.envrc-secret"
source "${GITHUB_USER_WORKSPACE}/.envrc-alias"
source "${GITHUB_USER_WORKSPACE}/.envrc-function"
