export EDITOR="code --wait"
export KUBE_EDITOR="${EDITOR}"
export GOPATH="${HOME}/go"
export GOBIN="${GOPATH}/bin"
export HOME_LOCAL_BIN="${HOME}/.local/bin"
export PATH="${HOME_LOCAL_BIN}:${GOBIN}:${PATH}"
export PYENV_VIRTUALENV_DISABLE_PROMPT=1
export GITHUB_OWNER="neuralnetes"
export GITHUB_REPOSITORY="${GITHUB_OWNER}/monorepo"
export GITHUB_WORKSPACE="${GOPATH}/src/github.com/${GITHUB_REPOSITORY}"
export GITHUB_USER="lerms"
export GITHUB_USER_WORKSPACE="${GITHUB_WORKSPACE}/env/${GITHUB_USER}"
export GITHUB_REF=$(cd "${GITHUB_WORKSPACE}" && git branch --show-current)
export GITHUB_SHA=$(cd "${GITHUB_WORKSPACE}" && git rev-parse HEAD)
export TERRAGRUNT_CLI_FLAGS='[
    "--terragrunt-include-dir global/terraform/**/**",
    "--terragrunt-include-dir global/iam/**/**",
    "--terragrunt-include-dir global/secret/**/**",
    "--terragrunt-include-dir global/network/**/**",
    "--terragrunt-include-dir global/data/**/**",
    "--terragrunt-include-dir global/compute/**/**",
    "--terragrunt-include-dir us-central1/network/**/**",
    "--terragrunt-include-dir us-central1/data/**/**",
    "--terragrunt-include-dir us-central1/compute/**/**"
]'
export TERRAGRUNT_COMMAND="run-all apply"
export TERRAGRUNT_WORKING_DIR="terragrunt/live/gcs/non-prod"
export TF_INPUT="false"
source "${GITHUB_USER_WORKSPACE}/.envrc-secret"
source "${GITHUB_USER_WORKSPACE}/.alias"
source "${GITHUB_USER_WORKSPACE}/.function"
